.square {
    border: 1px solid #ebebee;
    min-width: 40px;
    min-height: 40px;
}

.square-color-white {
    background-color: white;
}

.square-color-blue {
    background-color: #42d8e8;
}

.square-color-green {
    background-color: #00e871;
}

.square-color-red {
    background-color: #e85a5f;
}

.square-line {
    display: flex;
}

.game-message {
    display: flex;
    justify-content: center;
    min-height: 30px;
    font-size: 20px;
}