$mobile: 568px;
$tablet: 768px;
$desktop: 1024px;

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;

  @media (max-width: $tablet) {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
  }

  &-winners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;

  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}
